/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9fb;
    color: #333;
    line-height: 1.6;
}

/* Шапка */
header {
    background-color: #1e90ff;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Основной контент */
main {
    padding: 2rem;
}

.module-header {
    background-color: #e8f5e9;
    padding: 1rem;
    border-radius: 5px;
}

.module-details {
    margin-top: 2rem;
}

/* Стили для списков */
ul {
    list-style-type: disc; /* Используем маркеры для списков */
    padding-left: 2rem; /* Отступ слева для списка */
}

/* Кнопки навигации */
.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color:#1e90ff;
    color:white;
    border:none;
    padding :10px 20px;
    font-size :1rem;
    cursor:pointer;
    border-radius :5px;
    transition :background-color 0.3s ease;
    margin :0 10px;
}

.navigation-buttons button:hover {
    background-color:#0056b3;
}

/* Футер */
footer {
    background-color:#1e90ff;
    color:white;
    text-align:center;
    padding :1rem 0;
}

footer p {
    margin :0;
}
