/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

#root {
    display: flex; /* Flexbox для размещения формы */
    flex-direction: column; /* Вертикальное размещение */
}

h2 {
    font-size: 2rem; /* Размер шрифта заголовка Java Elevate */
    color: #1e90ff; /* Цвет заголовка */
    margin-bottom: 0.5rem; /* Отступ снизу */
    text-align: center; /* Центрирование заголовка */
}

h1 {
    text-align: center; /* Центрирование заголовка Авторизация */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Форма авторизации */
.login_wrapper__HPMvh {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Максимальная ширина блока */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Отступы между элементами формы */
}

div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 1rem; /* Увеличенные внутренние отступы для длинных полей */
    border: 1px solid #ddd; /* Цвет рамки */
    border-radius: 4px; /* Скругленные углы */
    font-size: 1rem; /* Размер шрифта */
    transition: border-color 0.3s ease; /* Плавный переход цвета рамки */
}

input:focus {
    border-color: #1e90ff; /* Цвет рамки при фокусе */
    outline: none; /* Убираем обводку */
    box-shadow: 0 0 4px rgba(30, 144, 255, 0.4); /* Тень при фокусе */
}

button {
    padding: 0.75rem; /* Внутренние отступы кнопки */
    background-color: #1e90ff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 4px; /* Скругленные углы кнопки */
    font-size: 1rem; /* Размер шрифта кнопки */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные переходы для кнопки */
}

button:hover {
    background-color: #005cbf; /* Темнее при наведении */
}

button:active {
    transform :translateY(0);/* Возврат кнопки в исходное положение при нажатии */
}

/* Ссылка на регистрацию */
p {
    font-size :0.9rem;/* Размер шрифта для параграфа */
}

p a {
    color :#1e90ff;/* Цвет ссылки */
}
