<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JavaElevate</title>
    <link rel="stylesheet" href="/css/dashboard.css"> <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"> <!-- Подключение Bootstrap -->
</head>
<body>

<header>
    <h1>JavaElevate</h1>
    <nav>
        <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/admin/users">Управление пользователями</a>
        <a href="/dashboard">Главная</a>
        <a href="/questions">Вопросы</a>
        <a href="/courses/1">Уроки</a>
        <a href="/user/solutions">Мои решения</a>
        <div class="dropdown">
            <button class="dropbtn">Профиль</button>
            <div class="dropdown-content">
                <a th:if="${isAuthenticated}" href="/profile/edit">Редактировать профиль</a>
                <a th:if="${isAuthenticated}" href="/auth/logout">Выход</a>
                <a th:if="${!isAuthenticated}" href="/auth/login">Войти</a>
            </div>
        </div>
    </nav>
</header>


<div class="container mt-4">
    <h2>Список курсов</h2>

    <!-- Контейнер для курсов с использованием классов Bootstrap -->
    <div class="row">
        <div class="col-md-4 course-container" th:each="course : ${courses}">
            <a th:href="@{/courses/{id}(id=${course.id})}" class="card mb-4 shadow-sm">
                <img th:src="${course.imageUrl}" alt="Картинка курса" class="card-img-top"> <!-- Используем динамический путь к изображению -->
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.name}"></h5>
                    <p class="card-text" th:text="${course.description}"></p>
                </div>
            </a>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<footer>
    <p>&copy; 2025 JavaElevate. Все права защищены.</p>
</footer>

</body>
</html>
