<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Email</title>
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/static/css/js/modal.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Спасибо за регистрацию!</h1>
    <p>На вашу почту <strong>${email}</strong> отправлен код подтверждения. Введите его ниже, чтобы завершить регистрацию.</p>

    <!-- Модальное окно -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Подтверждение Email</h2>
            <form action="/auth/confirm" method="post">
                <label for="confirmationCode">Код подтверждения:</label>
                <input type="text" id="confirmationCode" name="confirmationCode" required>
                <input type="hidden" name="email" value="${email}">
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
