<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/css.css"> <!-- Подключение файла стилей -->
</head>
<body>
<header>
    <a href="#" class="logo">Java Elevate</a>
    <nav>
        <ul>
            <li><a href="/index">Главная</a></li>
            <li><a href="/dashboard">Список курсов</a></li>
            <li><a href="/contact">Контакты</a></li>
            <div class="dropdown">
                <button class="dropbtn">Профиль</button>
                <div class="dropdown-content">
                    <a th:if="${isAuthenticated}" href="/profile/edit">Редактировать профиль</a> <!-- Отображается только для авторизованных пользователей -->
                    <a th:if="${isAuthenticated}" href="/auth/logout">Выход</a> <!-- Отображается только для авторизованных пользователей -->
                    <a th:if="${!isAuthenticated}" href="/auth/login">Войти</a> <!-- Отображается только для неавторизованных пользователей -->
                </div>
            </div>
        </ul>
    </nav>
</header>
<div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Java Elevate: Обучение программированию с нуля</h1>
        <p>Бесплатное обучение Java для начинающих онлайн.</p>
        <a href="/dashboard" class="btn">Начать обучение</a>
    </div>
    <div class="scroll-down">&#9660;</div>
</div>

</body>
</html>
</html>