<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подготовка к собеседованиям</title>
    <link rel="stylesheet" href="/css/springBoot.css"> <!-- Подключаем CSS для урока -->
</head>
<body>
<header>
    <h1>Подготовка к собеседованиям</h1>
    <nav>
        <a href="/dashboard">Главная</a>
        <a href="/questions">Вопросы</a>
        <a href="/courses/2">Уроки</a>
        <a href="/user/solutions">Мои решения</a>
        <div class="dropdown">
            <button class="dropbtn">Профиль</button>
            <div class="dropdown-content">
                <a href="/profile/edit">Редактировать профиль</a>
                <a href="/auth/logout">Выход</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <section class="module-header">
        <h2>Введение в подготовку к собеседованиям</h2>
        <p>Этот модуль поможет вам подготовиться к собеседованиям на должности Java-разработчика. Мы рассмотрим основные темы, которые вам нужно знать:</p>
    </section>

    <section class="module-details">
        <h3>Основные темы по Java:</h3>

        <ul>
            <li><strong><a href="/module3/lesson/1">Core-1:</a></strong> Основы языка Java, синтаксис, типы данных, операторы и управление потоком.</li>
            <li><strong><a href="/module3/lesson/2">Core-2:</a></strong> Объектно-ориентированное программирование (ООП), исключения, коллекции и дженерики.</li>
            <li><strong><a href="/module3/lesson/3">Multithreading:</a></strong> Основы многопоточности в Java, работа с потоками и синхронизация.</li>
            <li><strong><a href="/module3/lesson/4">SQL:</a></strong> Основы работы с реляционными базами данных, написание SQL-запросов и использование JDBC.</li>
            <li><strong><a href="/module3/lesson/5">Hibernate:</a></strong> ORM (Object-Relational Mapping) с использованием Hibernate для работы с базами данных.</li>
            <li><strong><a href="/module3/lesson/6">Spring:</a></strong> Основы фреймворка Spring, включая Spring Boot и Spring MVC.</li>
            <li><strong><a href="/module3/lesson/7">Паттерны проектирования:</a></strong> Изучение основных паттернов проектирования и их применение в Java.</li>
            <li><strong><a href="/module3/lesson/8">Алгоритмы:</a></strong> Базовые алгоритмы и структуры данных, которые необходимо знать для решения задач на собеседовании.</li>
        </ul>

        <h3>Рекомендации по подготовке:</h3>
        <p>Рекомендуется изучить каждую из этих тем и практиковаться в решении задач. Также полезно проходить пробные собеседования с друзьями или коллегами.</p>

    </section>

</main>

<footer>
    <p>&copy; 2024 Мой Java-курс. Все права защищены.</p>
</footer>

</body>
</html>

